body {
  text-align: center;
  background-color: #011F3F;
  transition: .2s;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 3% 5%;
  color: #FEF2BF;
  
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.score, h3{
  font-size: 30px;
  color: #fff;
  margin: 0px;
}

p {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  transition: .5s;
}

.inst {
  font-size: 20px;
  color: black;
  margin: 10px;
}

.instruction {
  background-color: darkgoldenrod;
}
